body {
    background-color: #ccc;
}

#title,
.subtitle,
.post_title {
    color: blue;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}

.post {
    background-color: white;
    padding: 10px;
    border: 3px solid #000;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
}

.post-image {
    margin-bottom: 15px;
}

.photo {
    border: 1px solid #fff;
    border-radius: 580px;
}